<div {{ attributes }}>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 md:grid-cols-5 md:grid-rows-5">
        {% for radio in this.getRadios %}
            <twig:Radio :radio="radio"/>
        {% endfor %}
    </div>
</div>
